<div class="">
  <h2>Friends and family can help</h2>
  <p>Being diagnosed with diabetes can take time to adjust to and affect how you feel.</p>
  <p>Telling people you have diabetes can be difficult, but it will help them understand what you’re going through. Friends, family and colleagues can give you support and encouragement when you’ve just been diagnosed with diabetes or you’re struggling to manage it. </p>
  <h2>Speak to others with type 1 diabetes</h2>
  <p>There are many people with type 1 diabetes offering support and sharing their stories on forums, social media and in group meetings.
</p>
  <p>You don’t have to join in if you don’t want to, you can just see what people are saying.</p>
  <h3>Helpful social media channels and conversations</h3>
  <p>A good place to start is the groups run by diabetes charities. There's also the diabetes online community (#DOC). This is a group of people with diabetes and clinicians. You don’t have to sign up to see what people are saying.</p>
  {{> components/important-yellow-card message='Comments on social media are often based on personal experience and shouldn’t be taken as medical advice. Speak to your diabetes team if you’re unsure.'	}}
  <h4>Twitter</h4>
  <div class="external-links">
    <ul>
      <li><a class="external-links__link-arrow" href="https://twitter.com/DiabetesUK?lang=en">Diabetes UK twitter group</a></li>
      <li><a class="external-links__link-arrow" href="https://twitter.com/jdrfuk?lang=en">JDRF twitter group</a></li>
      <li><a class="external-links__link-arrow" href="https://twitter.com/search?q=%23gbdoc&src=typd">#GBDOC twitter conversations</a></li>
      <li><a class="external-links__link-arrow" href="https://twitter.com/gbdoctchost">#GBDocTChost weekly tweetchats</a></li>
    </ul>
  </div>
  <p>Learn <a href="https://help.twitter.com/en/twitter-guide">how to use Twitter</a> if you’re new to it.</p>
  <h4>Facebook</h4>
  <div class="external-links">
    <ul>
      <li><a class="external-links__link-arrow" href="https://www.facebook.com/diabetesuk">Diabetes UK Facebook group</a></li>
      <li><a class="external-links__link-arrow" href="https://www.facebook.com/JDRFUK/">JDRF Facebook group</a></li>
      <li><a class="external-links__link-arrow" href="https://www.facebook.com/JDRFUK/">#GBdoc Facebook group</a></li>
    </ul>
  </div>
  <p>Learn <a href="https://www.facebook.com/help/ref=u2u">how to use Facebook</a>
if you’re new to it.</p>
  <h4>Forums and communities</h4>
  <div class="external-links">
    <ul>
      <li><a class="external-links__link-arrow" href="https://www.diabetes.org.uk/How_we_help/Community/Diabetes-Support-Forum">Diabetes UK forum</a></li>
      <li><a class="external-links__link-arrow" href="http://typeonenation.org">JDRF forum</a></li>
      <li><a class="external-links__link-arrow" href="https://healthunlocked.com/drwfdiabetes">HealthUnlocked</a></li>
    </ul>
  </div>
  <h3>Face-to-face support groups</h3>
  <p>Diabetes UK has regular meet-ups. <a href="https://www.diabetes.org.uk/how_we_help/local_support_groups">Find a Diabetes UK support group near you.</a></p>
  <p>It’s also worth asking your diabetes team if they know any local groups.</p>
  <h2>Diabetes helpline</h2>
  <p>Diabetes UK has a confidential helpline. Call if you need someone to talk to or you have questions about day-to-day management.</p>
  <div class="callout callout--info">
    <p>Call: 0345 123 2399</p>
    <p>Monday to Friday, 9am to 6pm</p>
    <p>Email: <a href="#">helpline@diabetes.org.uk</a></p>
  </div>
  <h2>Get talking therapies</h2>
  <p>If you’re feeling low and struggling to cope with your diabetes, a talking therapy might help.  A therapist won’t have experience of diabetes, but they can help you cope with a long-term condition. </p>
  <p>Ask your GP about talking therapies. They will know what’s available locally.</p>
  {{> components/important-yellow-card message='You might be able to refer yourself for talking therapies if you don’t want to speak to your GP about how you’re feeling.'	}}
  <div class="form-line">
    <label for="input-text" class="form-label">
      Find your nearest talking therapies
    </label>
    <input name="input-text" id="input-text" class="form-textbox" type="text">
    <button class="button">Search</button><br>
    <button class="button button--secondary">Use my location</button>
  </div>
</div>
