<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {{#title}}<title>{{.}}</title>{{/title}}
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="apple-touch-icon" href="icon.png"> -->

  <link rel="stylesheet" href="/nhsuk.css">
  <link rel="stylesheet" href="/app.css">
  <script src="/nhsuk.js"></script>
  <script src="/app.js"></script>
</head>
<body>
	<header role="banner">
		<div class="global-header">
			<div class="global-header__inner">
				<div class="global-header__link-container">
					<a href="/" class="global-header__link"></a>
				</div>
				<div class="global-header__navigation">
					<ul>
						<li><a href="/">Health A-Z</a></li>
						<li><a href="/">Live well</a></li>
						<li><a href="/">Care and support</a></li>
						<li><a href="/">Health news</a></li>
						<li><a href="/">Services near you</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="breadcrumb">
			<div class="breadcrumb__navigation">
				<ol>
					<li><a href="#">Home</a></li>
					<li class="right-arrow">&rsaquo;</li>
					<li>Type 1 diabetes</li>
				</ol>
			</div>
		</div>
	</div>
	</header>


  <div class="section-header">
    <h1>Type 1 diabetes</h1>
  </div>

  <main id="content" role="main">
    <div class="page-section">
			<div class="external-links">
				<ul>
					<li><a class="external-links__link-arrow" href="newly-diagnosed"><h3>Things to help you in the first few weeks</h3></a></li>
					<li><a class="external-links__link-arrow" href="get-support"><h3>Get support</h3></a></li>
					<li><a class="external-links__link-arrow" href="what-to-expect"><h3>What to expect</h3></a></li>
				</ul>
			</div>

    </div>
  </main>
  {{> global_footer }}

</body>

</html>
