
<div class="expander">
	<ul class="expander__list" role="navigation">
		<li class="expander__item">
			<a class="expander__item__title" href="#">How to measure your blood glucose level</a>
			{{> diabetes/how-to-measure-blood-level }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">When to check your blood glucose level</a>
			{{> diabetes/when-to-check }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Blood glucose levels - the numbers</a>
			{{> diabetes/levels-the-numbers }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href='#'>How to inject insulin</a>
			{{> diabetes/how-to-inject }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Recognising and treating hypoglycaemia (hypo)</a>
			{{> diabetes/recognising-threating }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Treating a hypo</a>
			{{> diabetes/treating-hypo }}
		</li>
		<li class="expander__item">
			<a class="expander__item__title" href="#">Check you’re safe to drive</a>
			{{> diabetes/check-safe-to-drive }}
		</li>
	</ul>
</div>
<h2>Want to learn more?</h2>
{{> diabetes/external-links }}
<div>
	<h2>Learn online</h2>
<p>Do an online course to learn more about managing your diabetes. Courses are designed for everyone with any level of computer skills and they’re free.</p>

<p>A diabetes course allows you to:
	<ul>
		<li>pick the subjects you’re interested in</li>
		<li>do as many as you like</li>
		<li>learn at your own pace</li>
		<li>learn at a time that suits you</li>
		<li>come back to it at any time</li>
	</ul>
</p>
<p><a href="https://www.bertieonline.org.uk/">Start the type 1 diabetes course</a> created by the Royal Bournemouth and Christchurch Hospitals NHS Foundation Trust.</p>
</div>
