<div>
  <h2>How your treatment might change</h2>
  <p>When you’re diagnosed with type 1 diabetes you’re usually told to eat meals and inject insulin at set times every day (fixed dose).   </p>
  <p>There are more flexible ways to manage your diabetes that suit your lifestyle and allow you to eat when you want. You can discuss these with your diabetes team when you feel ready.</p>
  <h3>Honeymoon period</h3>
  <p>Your body still produces some insulin after you’re diagnosed, this is called the ‘honeymoon period’. It can last up to a year.</p>
  <p>You might find it harder to manage your blood glucose levels when the honeymoon period ends. Speak to your diabetes team if you’re finding it harder to manage.</p>
  <h2>Your medical care</h2>
  <h3>Every 6 months (more regular when you’re newly diagnosed)</h3>
  <h4>Diabetes check up</h4>
  <p>You’ll usually have a discussion with a nurse to see how you’re getting on. They’ll check your average blood glucose levels (HbA1C test), blood pressure and weight. They may also look at your meter readings. </p>
  <h3>Once a year</h3>
  <h4>Eye screening test </h4>
  <p>You should have an eye screening test once a year. Speak your team if you haven’t had an appointment. </p>
  <p>A specialist checks for any changes in your eyes caused by diabetes. This is different to a sight test and doesn’t check if you need glasses.</p>
  <h4>Foot check-up</h4>
  <p>You should have your feet checked at least once a year. Speak to your team if you haven’t had them checked. </p>
  <p>A nurse or a foot specialist checks your feet for numbness, corns, ulcers and infections.
Speak to your nurse or a GP if you have any cuts and grazes on your feet. </p>
<h2>Doing a diabetes course</h2>
<p>Diabetes courses are usually recommended after 6 months. You learn with small group of  people with type 1 diabetes. People who’ve been on a course feel more confident treating themselves and have fewer serious hypos.</p>
<p>A course can help you to:</p>
<ul>
  <li>understand your diabetes</li>
  <li>feel more confident about managing your diabetes</li>
  <li>get better control of your blood glucose levels</li>
  <li>be more flexible with your food - eat what you want, when you want</li>
</ul>
<h2>There are different ways to learn</h2>
<p>You’ll usually be offered a face-to-face course. </p>
<p>You learn in a small group and meet people going through the same things as you. This can give you support during and after the course. Courses are informal and usually run by nurses. They run for 5 days (sometimes less). </p>
<p>You can learn online. You pick the subjects you want to learn and do as many as you like. This might be useful when there’s a lot to take in. You can do it at your own pace and at a time that suits you. </p>
<p>Speak to your diabetes team about doing a face-to-face course or <a href="https://www.bertieonline.org.uk" title="">start learning online sooner with BERTIE</a></p>
</div>
