<div class="service-alert">
      <div class="service-alert-inner">
        <p><strong class="service-status">Research</strong><span>This is not a live service. This is something we are currently designing.</span></p>
      </div>
    </div>
<header role="banner">
	<div class="global-header">
		<div class="global-header__inner">
			<div class="global-header__link-container">
				<a href="/" class="global-header__link"></a>
			</div>
			<div class="global-header__navigation">
				<ul>
					<li><a href="/">Health A-Z</a></li>
					<li><a href="/">Live well</a></li>
					<li><a href="/">Care and support</a></li>
					<li><a href="/">Health news</a></li>
					<li><a href="/">Services near you</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="breadcrumb">
		<div class="breadcrumb__navigation">
			<!-- TODO: rendering entire breadcrumb requires passing path as ordered list of paths (possible with titles)
				now - I'm simply rendering a title -->
			<ol>
				<li><a href="index">Type 1 diabetes</a></li>
				<li class="right-arrow">&rsaquo;</li>
				<li>{{title}}</li>
			</ol>
		</div>
	</div>
</div>
</header>
