<div class="expander__item__content" >
	<div class="expander__item__content__text">
		<p>Legally, if you have diabetes and you drive you need to:</p>
		<ul>
			<li>check your blood glucose no longer than 30 minutes before driving</li>
			<li>check your blood every 2 hours if you’re on a long journey</li>
			<li>travel with sugary snacks and snacks with long-lasting carbs, like a cereal bar or banana</li>
		</ul>
		<p>If you feel your levels are low:</p>
		<ul>
			<li>stop the car when it’s safe</li>
			<li>remove the keys from the ignition</li>
			<li>get out of the driver’s seat</li>
		</ul>
		{{> components/important-yellow-card message='You will also need to let DVLA know you have diabetes.'	}}
		<p>Read more about <a href="https://jdrf.org.uk/information-support/living-with-type-1-diabetes/everyday-life/driving/">driving with type 1 diabetes</a>.</p>
	</div>
	<div class="expander__item__button-wrapper">
		<button class="expander__item__button--close">Close</button>
	</div>
</div>
