<div class="grid-row external-links">
	<div class="column--one-half">
		<h4>Type 1 diabetes</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">What is type 1 diabetes</a><p>DiabetesUK website</p>
		</ul>
		<h4>Managing Type 1 diabetes</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">What to do when you're unwell</a><p>DiabetesUK website</p>
		</ul>
		<h4>Lifestyle</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">Travelling with type 1 diabetes</a><p>DiabetesUK website</p>
			<li><a class="external-links__link-arrow" href="#">Drinking alcohol</a><p>JDRF website</p>
			<li><a class="external-links__link-arrow" href="#">Taking drugs</a><p>JDRF website</p>
		</ul>
	</div>
	<div class="column--one-half">
		<h4>Sport and exercise</h4>
		<ul>
			<li><a class="external-links__link-arrow" href="#">Exercise and nutrition</a><p>JDRF website</p>
			<li><a class="external-links__link-arrow" href="#">Doing sport with type 1 diabetes</a><p>Runsweet website</p>
		</ul>
		<h4>Work</h4>
		<ul>
			<li></li>
			<li><a class="external-links__link-arrow" href="#">Your employment rights</a><p>JDRF website</p>
			<li><a class="external-links__link-arrow" href="#">Night shifts and type 1 diabetes</a><p>JDRF website</p>
		</ul>
	</div>
</div>
