<div class="expander__item__content">
	<div class="expander__item__content__video-container">
		<img style="margin-top:4px;" src="/docs/assets/video-still-how-to-measure.png" alt="">
		<!-- <iframe class="expander__item__content__video" src="https://www.youtube.com/embed/rMMpeLLgdgY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<div class="expander__item__content__video-overlay">How to measure glucose levels (Copyright: NHS Digital)</div>-->
	</div>
	<div class="expander__item__content__text">
		<p>Checking your blood is quick and easy, although it can be uncomfortable at first.</p>
		<p>You’ve been given:
			<ul>
				<li>a blood glucose meter</li>
				<li>small needles (called lancets)</li>
				<li>a plastic pen to hold the needles</li>
				<li>test strips</li>
			</ul>
		</p>
		<p>To check your blood:</p>
		<ol>
			<li>insert a test strip into the blood glucose meter</li>
			<li>make sure your finger is clean</li>
			<li>attach needle the pen - use a fresh needle every time</li>
			<li>place the pen to the side of your finger (it’s less painful)</li>
			<li>press the button on the pen to push the needle in</li>
			<li>gently squeeze your finger until you have a drop of blood</li>
			<li>hold your finger so the blood touches the top of the test strip</li>
			<li>read the numbers on the screen of your meter</li>
		</ol>
		<p>Checking your blood is quick and easy, although it can be uncomfortable at first.</p>
		<p>You’ve been given:
			<ul>
				<li>a blood glucose meter</li>
				<li>small needles (called lancets)</li>
				<li>a plastic pen to hold the needles</li>
				<li>test strips</li>
			</ul>
		</p>
		<p>To check your blood:</p>
		<ol>
			<li>insert a test strip into the blood glucose meter</li>
			<li>make sure your finger is clean</li>
			<li>attach needle the pen - use a fresh needle every time</li>
			<li>place the pen to the side of your finger (it’s less painful)</li>
			<li>press the button on the pen to push the needle in</li>
			<li>gently squeeze your finger until you have a drop of blood</li>
			<li>hold your finger so the blood touches the top of the test strip</li>
			<li>read the numbers on the screen of your meter</li>
		</ol>
	</div>
	<div class="expander__item__button-wrapper">
		<button class="expander__item__button--close">Close</button>
	</div>
</div>
