<div class="expander__item__content">
	<div class="expander__item__content__video-container">
		<!--<iframe class="expander__item__content__video" src="https://www.youtube.com/embed/tG31xcNk4mU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
		<img style="margin-top:4px;" src="/docs/assets/video-still-how-to-inject.png" alt="">
	</div>
	<div class="expander__item__content__text">
		<p>	Injecting insulin doesn’t usually hurt, the needles are very small.</p>
		<p>You would have been given:</p>
		<ul>
			<li>insulin pen</li>
			<li>needles</li>
		</ul>
		<p>Where to inject:</p>
		<ul>
			<li>your thighs</li>
			<li>your abdomen</li>
			<li>your buttocks</li>
		</ul>
		<p>How to inject:</p>
		<ul>
			<li>make sure your hands and the area you’re injecting are clean</li>
			<li>attach the needle to the pen</li>
			<li>squirt 2 units of insulin into the air to make sure there are no air bubbles</li>
			<li>put the needle into your skin quickly - at least an inch from where you last injected</li>
			<li>inject the insulin by pressing the button down, count to 10 before removing the needle</li>
		</ul>
		<p>Learn more about <a href="https://www.diabetes.org.uk">insulin</a></p>
	</div>
	<div class="expander__item__button-wrapper">
		<button class="expander__item__button--close">Close</button>
	</div>
</div>
