<div class="expander__item__content" >
	<div class="expander__item__content__text">
		<p>Your diabetes team should have discussed with you the blood glucose levels to aim for.</p>
		<p>There’s a range of ideal glucose levels that’s used as a guide. Don’t worry if your numbers are different. Aim for the levels agreed with your team.</p>
		The ideal range for blood-glucose levels are:
		<ul>
			<li>before meals: 4 to 7 mmol/L</li>
			<li>2 hours after meals: 8 to 9 mmol/L</li>
			<li>at bedtime: 6 to 10 mmol/L</li>
		</ul>
		<p>Your blood glucose levels can be affected by all sorts of things, including:
			<ul>
				<li>stress</li>
				<li>illness</li>
				<li>not being active or too much activity</li>
				<li>pain</li>
				<li>periods</li>
				<li>drinking alcohol</li>
		</ul>
		</p>
		<p>Learn more about <a href="https://jdrf.org.uk/information-support/managing-type-1-diabetes-3/what-should-my-blood-glucose-levels-be/">your blood glucose numbers</a> on the JDRF website	</p>
		<div class="expander__item__button-wrapper">
			<button class="expander__item__button--close">Close</button>
		</div>
	</div>