<div class="expander__item__content" >
	<div class="expander__item__content__text">
		<p>A hypo happens when your blood glucose level is too low, usually below 4 mmol/L.</p>
		<p>This can happen when you:</p>
		<ul>
			<li>delay meals</li>
			<li>haven’t had enough carbohydrate in your last meal</li>
			<li>do lots of exercise without having the right amount of carbohydrate or reducing your insulin dose</li>
			<li>take too much insulin</li>
			<li>drink alcohol on an empty stomach</li>
		</uL>
		<p>Hypob come on fast. Be aware of the signs of a hypo so you can treat it quickly.</p>
		<p>The most common signs include:</p>
		<ul>
			<li>sweating</li>
			<li>being anxious or irritable</li>
			<li>feeling hungry</li>
			<li>lack of concentration</li>
			<li>blurred sight</li>
			<li>trembling and feeling shaky</li>
		</ul>
		<div class="expander__item__button-wrapper">
			<button class="expander__item__button--close">Close</button>
		</div>
	</div>
</div>
