<div id="t1d-navigation">
  <div class="t1d-navigation__title">
    <div class="t1d-navigation__box">
      <h4>In this section:</h4>
    </div>
  </div>
  <nav id="nav" class="external-links global-footer__container">
    <ul class="t1d-navigation__links">
      <li><a class="external-links__link-arrow" href="index">Diabetes - newly diagnosed</a></li>
      <li><a class="external-links__link-arrow" href="newly-diagnosed">Things to help you in the first few weeks</a></li>
      <li><a class="external-links__link-arrow" href="get-support">Getting support</a></li>
      <li><a class="external-links__link-arrow" href="what-to-expect">What to expect</a></li>
    </ul>
  </nav>
</div>
