<div class="expander__item__content" >
	<div class="expander__item__content__text">
		<p>You need to treat a hypo quickly, before it gets worse. Eat or drink something sugary like:</p>
		<div class="panel">
			<div class="panel__content panel__content--half">
				<h3>Do</h3>
				<ul class="list--check">
					<li>5 x dextrose or glucose sweets</li>
					<li>5 x small sweets, like jelly babies</li>
					<li>1 x glass non-diet sugary drink (a mini can of cola is ideal)</li>
					<li>1 x glass fruit juice</li>
				</ul>
			</div>
			<div class="panel__content panel__content--half">
				<h3>Don’t</h3>
				<ul class="list--cross">
					<li>Sugary foods that contain fat, like chocolate or cake (they don’t work as well)</li>
				</ul>
			</div>
		</div>
		<p>Check your blood glucose after 10 minutes. If it’s still low, eat something sugary again. You may still have hypo symptoms as your blood glucose levels rise, so check your blood glucose rather than go by how you feel.</p>

		<div style="margin-top:32px;">{{> components/important-yellow-card message='It’s important your family and friends know what to do if you have a hypo and you can’t help yourself. They should call 999 if you’re not responding to them.'	}}</div>

		<p>Learn more about <a href="https://www.diabetes.org.uk/Guide-to-diabetes/Complications/Hypos/Having-a-hypo/">what to do if you’re having a hypo</a> on the Diabetes UK website.</p>
</div>
<div class="expander__item__button-wrapper">
	<button class="expander__item__button--close">Close</button>
</div>
</div>
