<div class="expander__item__content" >
	<div class="expander__item__content__text">
		<p>
			Try to check your blood:
			<ul>
				<li>before meals</li>
				<li>2 to 3 hours after meals</li>
				<li>before, during (take a break) and after exercise</li>
			</ul>
		</p>
		<p>This helps you understand your blood glucose levels and how they’re affected by meals and exercise. It should help you have more stable blood glucose levels.</p>
	</div>
	<div class="expander__item__button-wrapper">
		<button class="expander__item__button--close">Close</button>
	</div>
</div>